<!--{% load static %}-->
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style.css' %}" title="style"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'mainapp/js/main.js' %}"></script>
</head>
<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="{% url 'home' %}">Хабр<span class="logo_colour"></span></a></h1>
            </div>
        </div>

        <div id="menubar">
            <ul id="menu">
                {% block menu %}
                {% endblock %}
                <li class="profile">Профиль
                    <div class="dropdown">
                        <a href="#">Вход</a>
                        <a href="{% url 'register' %}">Регистрация</a>
                        <a href="#">Помощь</a>
                    </div>
                </li>
            </ul>
        </div>

    </div>
    <div id="site_content">
        <div class="sidebar">
            <!-- insert your sidebar items here -->
            <h3>Реклама</h3>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2022</h5>
            <p>2022 sees the redesign of our website. Take a look around and let us know what you think.<br/><a
                    href="#">Read more</a></p>
            <p></p>
            <h4>New Website Launched</h4>
            <h5>January 1st, 2022</h5>
            <p>2022 sees the redesign of our website. Take a look around and let us know what you think.<br/><a
                    href="#">Read more</a></p>
            <h3>Лучшие блоги</h3>
            <ul>
                <li><a href="#">link 1</a></li>
                <li><a href="#">link 2</a></li>
                <li><a href="#">link 3</a></li>
                <li><a href="#">link 4</a></li>
            </ul>
            <!--            <h3>Search</h3>-->
            <!--            <form method="post" action="#" id="search_form">-->
            <!--                <p>-->
            <!--                    <input class="search" type="text" name="search_field" value="Enter keywords....."/>-->
            <!--                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="style/search.png"-->
            <!--                           alt="Search" title="Search"/>-->
            <!--                </p>-->
            <!--            </form>-->
        </div>
        <div id="content">
            <h1>Добро пожаловать на страницу {{title}}</h1>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
        Copyright &copy; 2022 Команда 4
    </div>
</div>
</body>
</html>