{% extends 'mainapp/base.html' %}

{% block menu %}
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li class="selected"><a href="{% url 'design' %}">{{ title }}</a></li>
    <li><a href="{% url 'web_dev' %}">Веб разработка</a></li>
    <li><a href="{% url 'mobile_dev' %}">Мобильная разработка</a></li>
    <li><a href="{% url 'marketing' %}">Маркетинг</a></li>
{% endblock %}
{% block content %}
{% endblock %}
