{% extends 'mainapp/base.html' %}

{% block menu %}
    <li class="selected"><a href="{% url 'home' %}">{{ title }}</a></li>
    <li><a href="{% url 'design' %}">Дизайн</a></li>
    <li><a href="{% url 'web_dev' %}">Веб разработка</a></li>
    <li><a href="{% url 'mobile_dev' %}">Мобильная разработка</a></li>
    <li><a href="{% url 'marketing' %}">Маркетинг</a></li>
{% endblock %}
{% block content %}
<ul>
    {% for article in articles %}
    <li>
        <div>
            <p class="cat-location">Категория: {{ article.category }}</p>
            <p class="date-location">Дата: {{ article.time_of_creation|date:"d-m-Y H:i:s" }}</p>
        </div>
        {% if article.img %}
        <p><img class="article-img" src="{{ article.img.url }}" alt="img"></p>
        {% endif %}
        <h2>{{ article.title }}</h2>
        {{ article.content|linebreaks|truncatewords:50 }}
        <p class="read-article"><a href="{{ article.get_absolute_url }}">Читать далее</a></p>
    </li>
    {% endfor %}
</ul>
{% endblock %}