{% extends 'mainapp/base.html' %}

{% block menu %}
    <li><a href="{% url 'home' %}">Главная</a></li>
    <li><a href="{% url 'design' %}">Дизайн</a></li>
    <li><a href="{% url 'web_dev' %}">Веб разработка</a></li>
    <li><a href="{% url 'mobile_dev' %}">Мобильная разработка</a></li>
    <li><a href="{% url 'marketing' %}">Маркетинг</a></li>
{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Регистрация</button>
</form>
{% endblock %}
